@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-josefin-sans);
  --font-secondary: var(--font-comfortaa);
  --font-heading: var(--font-bebas-neue);
}

* {
  box-sizing: border-box;
  /* border: none; */
  outline: none;
}
